*{
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px 30px;
    font-size: 17px;
    padding: 8px;
}
.container{
    background-color: #f2f2f2;
    padding:5px 20px 15px 20px;
    border:1px,solid lightgrey ;
    border-radius: 4px;
}
input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="date"],
select,
textarea{
    width: 100%;
    padding: 17px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    
}
fieldset{
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 1px solid #ccc;
}
.main_heading{
    text-align: center;
}

input[type="button"]{
    background-color: #4daea1;
    padding: 12px;
    font-size: large;
    border:none;
    border-radius: 4px;
    width: 100%;
    font-weight: bolder;
}
input[type="button"]:hover{
    background-color: #484d48;
    color: white;
    padding: 12px;
    border:none;
    border-radius: 4px;
    cursor:pointer;
    
}
