.container {

  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}
.share-button{
  text-decoration: none;
  font-size: 3rem;
  font-family: 'Lobster', cursive;
  color: black;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  height: 80px;
  background: #4ECCA3;
  border-radius:12px;
  display:flex;
  align-items:center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: 0.3s linear;
}
.share-button:hover{
  transform: scale(1.1);
  text-decoration:none ;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
