*{
    box-sizing: border-box;
}
body{
    background: url(contact.png);
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}
.container{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 90px 0px;
    margin-right: 550px;
    margin-left: 50px;
    padding: 20px;
    border-radius: 20px;
}
h1{
    font-size: 35px;
    color: white;
}
form{
    width: 80%;
    background-color: rgb(209, 143, 99);
    padding: 20px 50px;
}
input{
    align-items: center;
    width: 100%;
    font-size: 15px;
}
textarea{
    width: 100%;
    font-size: 15px;
}
p{
    font-size: 20px;
    font-weight: 600;
    color: white;
}
.item .box{
    position: relative;
    display: flex;
}
.item .box .icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    height: 40px;
    background: rgb(209, 143, 99);
    margin: 5px;
    border-radius: 50px;
}