*{
    margin: 0;
    padding: 0;
}
body{
    background: #55c6ff;
}
.container{
    width: 80%;
    margin: 50px auto;
}
.contact-box{
    background: #fff;
    display: flex;
}
.contact-left{
    flex-basis: 60%;
    padding: 40px 60px;
}
.contact-right{
    flex-basis: 40%;
    padding: 40px 40px;
    background: #36c357;
    color: #fff;
}
.input-row .input-group{
    flex-basis: 45%;
}
input{
    width: 100%;
    border: none;
    outline: none;
}
tr td{
    padding-right:20px;
    padding-top:20px;
}