.wrapper h1{
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.img-area{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.single-img{
    padding: 0 20px 20px;
}
img:hover{
    opacity: .5;
    transition: .9S;
}