body
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: beige;
    @media screen and (max-width: 1200px) and (min-width: 480px)
}
header
{
    padding: 10px 100px;
    box-sizing: border-box;
}
section
{
    width: 100%;
    height: 100vh;
}
section.sec1
{
   background: url(background.jpg);
}
section.sec2
{
    padding: 100px;
    box-sizing: border-box;
    height: auto;
}
section.sec2 h2
{
    font-size: 3em;
    margin: 0;
    padding: 0 0 20px;
}
section.sec2 p
{
    font-size: 1.2em;
    margin: 0;
    padding: 0;
}
section.sec3
{
   background-image: url(background.jpg);
   background-size: cover;
}
nav
{
    width: 100$;
    height: 50px;
    background: rgba(0,0,0,.8);
    border-top: 1px solid rgba(255,255,255,.2);
    border-bottom: 1px solid rgba(255,255,255,.2);
    position: sticky;
    top: 0;
}
nav ul
{
    display: flex;
    margin: 0;
    padding: 0 100px;
    float: right;
}
nav ul li
{
    list-style: none;
}
nav ul li a
{
    display: block;
    color: beige;
    padding: 0 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 50px;
    
}
nav ul li a:hover,
nav ul li a.active
{
   background-color: #808080;
}
@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}
    @media (max-width: 858px){
    ul{
        position: fixed;
        width: 50%;
        height: 50vh;
        top: 88px;
        left: 0;
        text-align: center;
    }
    nav ul li{
        display: block;

    }
    nav ul li a{
        font-size: 20px
    }
    section
{
    width: 50%;
    height: 50vh;
}
}



    