body{
    background-color: black;
}
.box {
    width:30%;
    min-height:80vh;
    margin:auto;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .box img {
    display: block;
    width: 50%;
    min-width:100px;
    max-width: 350px;
    height: auto;
    margin: auto;
    margin-top: 50%;
 }
