.navbar {
    width: 100%;
    background-color: rgb(40, 21, 54);
    overflow: auto;
  }
  
  .navbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
  } 
  
  .navbar a:hover {
    background-color: rgb(218, 197, 12);
  }
  
  .imp {
    background-color: #dd155f;
  }
  
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }