*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    min-height: 100vh;
}

picture{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

picture img{
    padding: 1rem;
    min-width: 28rem;
}