* {
    margin: 0;
    padding: 0;
}

img {
    height: 300px;
    width: 300px;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}