body{
    background-color: rgba(106, 149, 235, 0.823);
}
.h-primary{
    font-size: 2.8rem;
    padding: 12px;
    font-family: 'Kdam Thmor Pro', sans-serif;
}
.center{
    text-align:center;
}
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    /*z-index: -1;
    opacity: 0.8;*/
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.3rem;
    border-radius: 10px;
    font-size: 1.1rem;
}
#contact-box form{
    width: 50%;
}
#contact-box label{
    font-size: 1.1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
footer{
    background-color: black;
    color: white;
}