@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #d6cfe5;
}
form{
    display: flex;
    flex-direction: column;
    background-color: rgb(35, 88, 185);
    padding: 25px;
    border-radius: 10px;
    width: 90%;
    max-width: 600px;
}
form p{
    font-weight: 600;
    font-size: 80px;
    width: 50%;
    padding: 20px 15px;
    font-size: 20px;
    margin: auto 22vmin;
}
.lk{
    font-size: 33px;
}
form input,form textarea{
    padding: 10px;
    margin: 10px 0;
    color: white;
    outline: none;
    border: none;
    background-color: rgb(15, 226, 209);
    border-radius: 5px;
}
form button{
    padding: 10px;
    margin: 2vmin 24vmin;
    width: 150px;
    background-color: rgb(0, 106, 255);
    border: none;
    border-radius: 8px;
}