*{
    margin: 5%;
    padding: 0;
}
h1,h3{
    text-align: center;
}
flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width:50%;
    min-height:80vh;
    margin:auto;
    border:1px solid;
 }
 .flexbox img {
    display: block;
    width: 50%;
    /* height: 50%; */
    height: auto; 
    margin: auto; 
 }