*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.contact{
    background-color: rgb(255, 213, 3);
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col img{
    max-height: 55px;
    max-width: 85px;
}
.col{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
i{
    padding: 10px;
}
.soc_med{
    margin-top: 10px;
}