*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    height: 500px;
    width: 500px;
}
.center-image{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}