* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Rubik", sans-serif;
  background-image: url(/image.jpg); 
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center center;
  max-width: 140rem;
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.6),
      rgba(34, 34, 34, 0.6)
    ),
    url(image.jpg);
}

.container {
  padding: 5rem;
  background-color: #f8f9fa6e;
  box-shadow: 0 0 8px 2px rgba(136,136,136,0.385);
}
.heading {
  font-size: 3.2rem;
  font-weight: 600;
  color: rgb(58, 56, 56);
}
.details {
  font-size: 2rem;
  color: #444;
  margin-bottom: 20px;
}
form .user-details {
  display:inline-block;
   flex-wrap:wrap;
  justify-content: space-between;
}  
form .user-details .input-box {
  margin: 2rem 0 1.2rem 0;
  /* width: calc(100% / 2 - 2rem); */
  margin-bottom: 1.5rem;
}
form .user-details .input-box input {
  height: 4.5rem;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1.6rem;
  padding-left: 1.5rem;
  border-bottom-width: 2px;
  transition: all 0.2sec ease;
}
.user-details .input-box details {
  font-weight: 500;
  margin-bottom: 1rem;
  display: block;
}
.btn:link,
.btn:visited {
  display: flex;
  justify-content: center;
  font-size: 1.6rem;
  text-decoration: none;
  padding: 8px;
  background-color: #099268;
  color: #fff;
  border-radius: 5px;
}
.btn:hover,
.btn:active {
  background-color: #087f5b;
  transition: all 0.3s;
}
@MEDIA(min-width:900px) {
  .container{
    max-width:88rem;
  }
 
}
@MEDIA(min-width:700px) and (max-width:900px){
  .container{
    max-width:69rem;
  }
}
@MEDIA(min-width:500px) and (max-width:700px){
  .container{
    max-width:58rem;
  }
}
@MEDIA(min-width:400px) and (max-width:500px){
  .container{
    max-width:40rem;
  }
  .details{
    font-size:16px;
  }
  form .user-details .input-box input {
    height: 4rem;
    font-size:1.2rem;
    width:17rem;
  }

}
@MEDIA(min-width:350px) and (max-width:400px){
  .container{
    max-width:38rem;
  }
  .details{
    font-size:15px;
  }
  form .user-details .input-box input {
    height: 3rem;
    font-size:1rem;
    width:15rem;
  }

}
@MEDIA(min-width:300px) and (max-width:350px){
  .container{
    max-width:39rem;
    padding:1.1rem;
  }
  .details{
    font-size:15px;
  }
  form .user-details .input-box input {
    height: 3rem;
    font-size:1rem;
    width:13rem;
    padding-left:0.2rem;
  }

}
