
body{
    background: rgb(60, 112, 171);
}
.text-color{
    color: #f53b57;
}
.card{
    width: 350px;
    padding: 10px;
    border-radius: 20px;
    background: #fff;
    border: none;
    position: relative;
}
.container{
    height: 100vh;
}
.mobile-text{
    color: #989696b8;
    font-size: 12px;

}
form-control:focus{
    color: #495057;
    background-color:rgb(97, 157, 230);
    border-color: #ff8880;
    outline: 0;
    box-shadow: none;
    
}
.cursor{
    cursor: pointer;
    
}
.btn{ 
    padding: 10px 60px;
    background: #fff;
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
    border-radius: 30px;
}
.btn:hover{
    background-color: aquamarine;
}
.popup{
    width: 400px;
    background-color: #fff;
    border-radius: 6px;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
}

.popup img{
    width: 100px;
    margin-top: 50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popup h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.popup button{
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #6fd649;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}