body{
    background-color: black;
}
.container{
    position: relative;
}
/* .image{
    width:80%;
    min-height:80vh;
    margin:auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,50%);
} */

.image img{
    display: block;
    margin:0 auto;
    width:60%;
    padding: 10% 0;
    
}
