body {
    background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
    font-family: sans-serif;
    padding: 20px;
  }
  
  h1 {
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 15px;
  }
  
  h2 {
    font-size: 30px;
  }
  
  .established {
    font-style: italic;
  }
  
  h1, h2, p {
    text-align: center;
  }
  
  .menu {
    width: 80%;
    background-color: burlywood;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 500px;
  }
  
  h1, h2 {
    font-family: Impact, serif;
  }
  
  .item p {
    font-size: 18px;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px; 

  }
  
  .flavor, .dessert {
    text-align: left;
    width: 75%;
  }
  
  .price {
    text-align: right;
    width: 25%
  }
  hr{
    height: 2px;
    background-color: brown;
    border-color: brown;
  }
  .bottom-line{
    margin-top:25px;
  }
/*Footer*/
footer{
    font-size: 14px;
}
a{
    color: black;
}
a:visited{
    color: grey;
}
a:hover {
    color: brown;
  }
  
  a:active {
    color: white;
  }
  .address{
    margin-bottom:5px;
  }
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -25px;
}
.share-button{
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  height: 80px;
  background: burlywood;
  border-radius:12px;
  display:flex;
  align-items:center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: 0.3s linear;
}
.share-button:hover{
  transform: scale(1.1);
}
.share-button span{
  position:absolute;
  width:100%;
  height: 100%;
  background-color:brown;
  color: black;
  text-align: center;
  line-height: 80px;
  z-index:999;
  transition: 0.5s linear;
  border-radius: 12px;
  font-size: 1.4rem;
  font-weight: 600;
}
.share-button:hover span{
  transform: translateX(-100%);
  transition-delay: 0.3s;

}
.share-button a{
  flex: 1;
  font-size: 26px;
  color:white;
  text-align: center;
  transform: translateX(-100%);
  opacity: 0;
  transition: 0.3s;

}
.share-button:hover a{
  opacity: 1;
  transform: translateX(0);

}
/*.share-button a:nth-of-type(1){
  transition-delay:1s ;
}
.share-button a:nth-of-type(2){
  transition-delay:0.8s ;
}
.share-button a:nth-of-type(3){
  transition-delay:0.6s ;
}
.share-button a:nth-of-type(4){
  transition-delay:0.4s ;
}*/