@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Open Sans', sans-serif;
	font-family: 'Roboto', sans-serif;
}
a a:hover{
	text-decoration: none;
}
.top-bar{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 25px;
	background-color: #52527a;
}
.top-bar span{
	color: #ffffff;
}
.top-bar ul{
	list-style: none;
	display: flex;
}
.top-bar li{
	margin: 0px 5px;
}
.top-bar a{
	color: #ffffff;
}
.top-bar a:hover{
	color: #222222
}
.logo a{
	text-decoration: none;
}
.logo a img{
	width: 45px;
	margin-right: 15px;
}
nav{
	background-color: #222222;
	padding: 5px 20px;
	display: flex;
	align-items: center;
}
nav a{
	color: #ffffff;
}
nav a:hover{
	color: #7575a3
}
.logo{
	flex: 1;
}
.logo a{
	display: flex;
	align-items: center;
	font-size: 20px;
}
.logo a:hover{
	color: #ffffff;
}
.menu{
	display: flex;
	align-items: center;
	list-style: none;
}
.menu li{
	padding: 15px 10px;
	font-size: 16px;
}
.menu li a{
	text-decoration: none;
	font-weight: bold;
}
.bottom-nav{
	font-size: 30px;
	display: none;
}
@media screen and (max-width: 600px){
	nav{
		display: block;
		position: relative;
		padding: 15px 20px;
	}
	.menu{
		margin-top: 15px;
		display: none;
	}
	.menu.active, .bottom-nav{
		display: block;
	}
	.bottom-nav{
		position: absolute;
		top: 15px;
		right: 20px;
	}
}
