* {
    margin: 0;
    padding: 0;

}


.logobsp{
  margin:  0% 0% -2.4% 32%; 
}
body {
    background-image: url(background\ photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
    width: 95%;
    height: 90%;
}

.box {
    width: 500px;
    background: #18316e;
    opacity: 0.9;
    /* background: rgba(3, 31, 85, 0.8); */
    margin: 3% auto;
    padding: 50px 0px;
    color: #fff;
    /* box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.5);
 */
}

h1 {
    text-align: center;
    margin-bottom: 40px;

}
.input-box{
margin: 31px auto;
width: 80%;
border-bottom: 1px solid #fff;
padding-top: 10px;
padding-bottom: 5px;
}
.input-box input{
width: 90%;
border: none;
outline: none;
background: transparent;
color: #fff;
}

::placeholder{
    color: #ccc;

}
.fa{
    size: 50px;
    margin-right: 10px;
}

.eye{
position: absolute;


}
#hide1{
    display: none;
}

.login-btn{
margin: 40px auto 20px;
width: 80%;
display: block;
outline: none;
padding: 10px 0;
border: 1px solid #fff;

cursor: pointer;
background: transparent;
color: #fff;
font-size: 16px;
}

button:hover{
color: black;
background-color:#ccc;
transition: background-color ease-in-out 2s;
transform: scale(1.06)  ;
}


    
