body{
    background:#eeedec;
    letter-spacing:0.2 em;
    font-size:0.8em;
    background-image: url('rainbow.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    max-width:400px;
}
.icon{
    position: relative;
    top:-50px;
    border-radius:50%;
    width:100px;
    margin-bottom:-50px;
}