
@import url("https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

:root {
  --rad: 0.7rem;
  --dur: 0.3s;
  --color-dark: #2f2f2f;
  --color-light: #fff;
  --color-transparent: rgb(22, 57, 76, 0.4);
  --color-brand: #57bd84;
  --color-button: #3888de;
  --font-fam: "Open Sans", sans-serif;
  --height: 5rem;
  --btn-width: 6rem;
  --bez: cubic-bezier(0, 0, 0.43, 1.49);
}

.container {
  position: relative;
  background: url(https://weatherstack.com/site_images/mountains.svg), linear-gradient(135deg, #1f4e69 0, #164058 100%);
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  overflow-x: hidden;
}

.image {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}

.box {
  position: relative;
  padding-top: 1em;
  background-color: var(--color-transparent);
}

.box .heading {
  font-family: var(--font-fam);
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 0.2em;
  font-size: 2em;
  color: var(--color-light);
}
.box .date{
  font-family: var(--font-fam);
  text-transform: uppercase;
  text-align: center;
  font-weight: 100;
  letter-spacing: 0.2em;
  font-size: 1em;
  color: var(--color-light);
}

.widget {
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;

}

.wrapper .weatherIcon {
  height: 50%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 80px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 650px;
}

.box h1 {
  text-align: center;
}

.search {
  width: 100%;
  padding: 15px 0 0 0;
  position: relative;
  display: flex;
  justify-content: center;
}

.place i {
  
  color: rgb(254, 250, 250);
  padding-right: 0.5em;
}

.searchTerm {
  width: 50%;
  padding: 15px;
  border: 1px solid #000000;
  height: 25px;
  border-radius: 5px 0 0 5px;
  outline: none;
  font-size: 18px;
}

.searchTerm:focus {
  color: #00b4cc;
}

.search-button {
  width: 80px;
  height: 32px;
  border: none;
  background: var(--color-button);
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
  outline: none;
  font-size: 16px;
}

.search-button:hover {
  background-color: #17b8ce;
}

.wrapper .weatherInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 80%;
  background-color: transparent;
  display: flex;
  align-items: center;
  color: rgb(249, 244, 244);
}

.wrapper .weatherInfo .temperature {
  flex: 0 0 0%;
  width: 100%;
  font-size: 60px;
  font-weight: 500;
}

.wrapper .weatherInfo .weathercondition {
  text-transform: uppercase;
  font-size: 35px;
  font-weight: 100;
}

.wrapper .weatherInfo .place {
  font-size: 20px;
  padding: 0.5em;
}

.widget .extra-temp {
  flex: 1 100%;
  padding: 2% 0 2% 0;
  align-items: center;
  font-size: 100px;
  background-color: var(--color-transparent);
}

.widget .extra-temp p {
  font-size: 25px;
  font-weight: 600;
}
.detail{
  width: 100%;
  background-color: var(--color-transparent);
  color: var(--color-light);
  text-align: center;
  font-size: 20px;
}
.detail .span{
  border-bottom: 2px solid #fff;
}
.temp-info-minmax,
.weather-extra-info,
.two-sided-section {
  text-align: center;
  align-items: center;
  color: #ffffff;
}

.widget .extra-temp .extra-info-leftside {
  font-weight: 600;
  color: #ffffff;
  font-size: 15px;
}

.wrap {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: -150px;
  margin-bottom: 50px;
}

@media (max-width: 650px) {
  .widget {
    height: 100%;
    width: 100vw;

  }
  .detail{
    padding: 5% 0 0 0;
  }
  .widget .extra-temp {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
  }

  .temp-info-minmax,
  .weather-extra-info,
  .two-sided-section {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
  }
  .two-sided-section{
    padding: 5%;
  }
}

@media (min-width: 650px) {
  .box {
    border-radius: 20px;
    box-shadow: 0 0px 55px 0 rgba(0, 0, 0, 0.3),
      0 0px 17px 0 rgba(0, 0, 0, 0.15);
    border: 2px solid white;
  }
  .widget {
    height: 400px;
    width: 650px;
    border-radius: 20px;

  }
  .detail{
    padding: 1% 0 0 0;
  }
  .widget .extra-temp {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .temp-info-minmax,
  .weather-extra-info,
  .two-sided-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .widget .extra-temp .extra-info-leftside {
    text-align: left;
  }

  .widget .extra-temp {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}