*{
    margin: 0;
    padding: 0;
  }
  body{
    background-image: linear-gradient(rgba(73, 71, 65, 0.7),rgba(68, 65, 56, 0.7)),url(https://images.unsplash.com/photo-1607125517027-51e6eb339ea4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
    
  }
  div.main{
    width: 400px;
    margin: 100px auto 0px auto;
    padding-bottom: 10%;
    
  }
  h2{
    text-align: center;
    padding: 20px;
    font-family: sans-serif;
    }
    div.register{
        viewport-fit: ;
        background-color: rgba(183, 175, 175, 0.7);
        width: 100%;
        font-size: 18px;
        border-radius: 10px;
        border: 1px solid rgba(98, 95, 95, 0.3);
        box-shadow: 2px 2px 15px rgba(0,0,0,0.3);
        color: #fff;
        
        
    }
    form#register{
        margin: 40px;
    }
    label{
        font-family: sans-serif;
        font-size: 18px;
        font-style: italic ;
    }
    input#name{
        width: 300px;
        border: 1px solid #ddd;
        border-radius: 3px;
        outline: 0;
        padding: 7px;
        background-color: #fff;
        box-shadow: insert 1px 1px 5px rgba( 0,0,0,0.3);
    }
    input#submit{
        width: 200px;
        padding: 7px;
        font-size: 16px;
        font-family: sans-serif;
        font-weight: 600;
        border: none;
        border-radius: 3px;
        background-color: rgb(232, 25, 46);
        color: #fff;
        cursor: pointer;
        border: 1px solid  rgba(255 ,255,255,0.3) ;
        box-shadow: insert 1px 1px 5px rgba( 0,0,0,0.3); 
        margin-bottom: 20px;
    }
    label,span,h2{
        text-shadow: 1px 1px 5px rgba( 0,0,0,0.3);
        
    }