* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
  
.header {
    width: 100%;
    height: 100vh;
    background: #ccffff;
}
  
.side-nav {
    width: 250px;
    height: 100%;
    background: cyan;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 30px;
}

  
.nav-links {
    list-style: none;
    position: relative;
}
  
.nav-links li {
    padding: 10px 0;
}
  
.nav-links li a {
    color: #000000;
    text-decoration: none;
    padding: 10px 14px;
    display: flex;
    align-items: center;
}
  
.nav-links li a i {
    font-size: 22px;
    margin-right: 20px;
}
  
.active {
    background: #000000;
    width: 100%;
    height: 47px;
    position: absolute;
    left: 0;
    top: 2.6%;
    z-index: -1;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.4);
    display: none;
    transition: top 0.5s;
}
  
.nav-links li:hover a {
    color: #fff;
    transition: 0.3s;
}
  
.nav-links li:hover~.active {
    display: block;
}
  
.nav-links li:nth-child(1):hover~.active {
    top: 2.6%;
}
  
.nav-links li:nth-child(2):hover~.active {
    top: 30.2%;
}
  
.nav-links li:nth-child(3):hover~.active {
    top: 50.8%;
}
  
.nav-links li:nth-child(4):hover~.active {
    top: 78.4%;
}
  
