table {
    border: 1px solid gray;
    width:100%;
    margin-bottom:20px;
    padding:10px;
    border-spacing: 10px;
  }
  td,th{
    border: 1px solid gray;
    padding-left: 10px;
  }
  .heading{
    text-align: center;
    color: darkslateblue;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
 .mainHeading{
    text-align: center;
    color: darkslateblue;
    font-size: 30px;
 }
 .footer{
    text-align: center;
    color: darkslateblue;
    font-size: 20px;
 }
 .para{
    text-align: start ;
    color: darkslateblue;
    font-size: 20px;
    margin: 15px;
 }