* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
}

.main {
    width: 100%;
    height: 100vh;
    background-color: rgb(8, 252, 252);
    background-size: cover;
}

@media (max-width: 600px) {
    .toggle-button {
        display: flex;
    }
}

nav {
    background-color: rgb(63, 233, 242);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 100px;
}

.logo {
    max-height: 81px;
    border-radius: 33px;
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a {
    color: #1d1d24;
    position: relative;
    padding: 5px 0;
}

nav ul li a:hover {
    color: #fd4766;
}

nav ul li a:after {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 3px;
    background: #fd4766;
    transition: 0.3s;
    bottom: 0;
}

nav ul li a:hover:after {
    width: 100%;
}

.btn {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 16px 40px;
    border-radius: 500px;
    display: inline-block;
    font-weight: 500;
    transition: all 0.4s ease-in-out;
    background-size: 152% 100%;
    background: #fd4766;
    border: 2px solid #fd4766;
}
.menu{
    font-size: 25px;
}
