@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

:root {
    --color-white: #f3f3f3;
    --color-green: #37af7f;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    color: var(--color-white);
    margin: 0;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-image: linear-gradient(115deg, rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7)),
        url(https://images.fastcompany.net/image/upload/w_1280,f_auto,q_auto,fl_lossy/wp-cms/uploads/2019/04/p-1-apple-security.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.loginbox {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 0px 30px 10px 30px;
    border-bottom: 5px solid #18A689;
    margin-top: 20px;
}

h1 {
    font-weight: 400;
    line-height: 1.2;
}

p {
    font-size: 1.125rem;
}

h1,
p {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

label {
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
}

input,
button,
select,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.text-center {
    text-align: center;
}

.container {
    width: 50%;
    margin: 2.125rem auto 0 auto;
}

.header {
    padding: 0 0.625rem;
    margin-bottom: 1rem;
}

form {
    padding: 2.5rem 0.625rem;
    border-radius: 0.25rem;
}

.form-group {
    margin: 0 auto 1.25rem auto;
    padding: 0.25rem;
}

.form-control {
    display: block;
    width: 100%;
    height: 2.375rem;
    padding: 0.375rem 0.75rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.8rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-group2,
.form-group3 {
    display: flex;
    justify-content: space-between;
}

.sub-button .btn {
    display: block;
    width: 100%;
    padding: 0.75rem 0.30rem;
    color: inherit;
    border-radius: 0.8rem;
    background-clip: padding-box;
    border: none;
    cursor: pointer;
    background-color: var(--color-green);
}


/*   @media queries   */

@media (min-width: 480px) {
    form {
        padding: 2.5rem;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}