body{
    background-image: url(weather.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
 
}
.clock{
    background:rgb(232, 232, 240);
    width:300px;
    height:300px;
    margin: 8% auto 0;
    border-radius: 50%;
    border:14px solid rgb(4, 2, 87);
    position:relative;
    box-shadow:0vw 1vw 2vw -1vw rgba(0,0,0,0.8) inset;      
    margin-top: 100px;
}
.dot{
    width:100px;
    height:100px;
    border-radius:50%;
    background:rgb(132, 199, 219);
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    position:absolute;
    z-index: 1;
    box-shadow:0 2px 4px -1px black;
}
.dot1{
    width:15px;
    height:15px;
    border-radius:50%;
    background:rgb(0, 10, 14);
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    position:absolute;
    z-index: 2;
    box-shadow:0 2px 4px -1px black;
}
.hour-hand{
    position:absolute;
    z-index:5;
    width:4px;
    height:65px;
    background:rgb(2, 2, 117);
    top:79px;
    transform-origin:50% 72px;
    left:50%;
    margin-left:-2px;
    border-top-left-radius:50%;
    border-top-right-radius:50%;
}
.minute-hand{
    position:absolute;
    z-index:6;
    width:4px;
    height:100px;
    background:rgb(3, 3, 99);
    top:46px;
    left:50%;
    margin-left:-2px;
    border-top-left-radius:50%;
    border-top-right-radius:50%;
    transform-origin:50% 105px;
}
.second-hand{
    position:absolute;
    z-index:3;
    width:2px;
    height:120px;
    background:red;
    top:28px;
    left:50%;
    margin-left:-1px;
    border-top-left-radius:50%;
    border-top-right-radius:50%;
    transform-origin:50% 125px;
}
span{
    display:inline-block;
    position:absolute;
    color:black;
    font-size:22px;
    font-family:'Poiret one';
    font-weight:700;
    z-index:4;
    }
.h12{
    top:30px;
    left:50%;
    margin-left:-9px;
}
.h3{
    top:140px;
    right:30px;
}
.h6{
    bottom:30px;
    left:50%;
    margin-left: -5px;
}
.h9{
    left:32px;
    top:140px;
}
.diallines{
    position:absolute;
    z-index:2;
    width:2px;
    height:15px;
    background:#666;
    left:50%;
    margin-left:-1px;
    transform-origin:50% 150px;
}
.diallines:nth-of-type(5n){
    position:absolute;
    z-index:2;
    width:4px;
    height:15px;
    background:#666;
    left:50%;
    margin-left:-1px;
    transform-origin:50% 150px;
}
.date{
    position:absolute;
    width:110px;
    height:20px;
    border-radius: 7px;
    background-color: rgb(54, 51, 51);
    text-align:20px;
    line-height:20px;
    color:#fff;
    font-size:11px;
    top:80px;
    left:50%;
    margin-left: -50px;
    font-family: "poiret one";
    font-weight:700;
    z-index: 3;
    letter-spacing: 5px;
}
.day{
    position:absolute;
    width:fit-content;
    height:20px;
    border-radius: 7px;
    background-color: rgb(54, 51, 51);
    text-align:20px;
    line-height:20px;
    color:#fff;
    font-size:11px;
    top:200px;
    left:50%;
    font-family: "poiret one";
    font-weight:700;
    z-index: 3;
    letter-spacing:5px;
    margin-left: -50px;
    padding: 0px 10px;
    margin-top: 15px;
}
footer{
    text-align:center;
    background-color: black;
    padding:15px;
    color:rgb(224, 204, 204);
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
    margin-top:160px;
    height:90px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: auto;
}

.input{
text-align: center;
margin: 50px auto;
}

input[type="submit"]{
padding: 15px 30px;
background: #e7e7e7;
border: none;
border-radius: 200px;
font-family: "Nunito",sans-serif;
font-weight:bold;
font-size: 20px;
z-index: 2;
}

.input input[type="text"]{
width: 200px;
height: 50px;
padding: 5px 10px;
background: #e7e7e7;
border: none;
border-radius: 150px;
font-family: "Nunito",sans-serif;
font-weight:bold;
font-size: 20px;
opacity:0.5;
}

.card{
width: 50%;
background: #e7e7e7;
height: 40vh;
margin: 50px auto;
border-radius: 5px;
opacity: 0.5;
margin-top: 20px;
font-size: 20px;
color: black;
}

.card h1{
padding: 10px 0;
text-align: center;
}

.card p{
text-align: center;
margin:40px 0;
font-size:20px;
}
@media only screen and (max-width: 600px) {
    .grid-container {
      grid-template-columns: repeat(1,1fr);
    }
}