body {
  font-family: "Open Sans", sans-serif;
  background-color: #fad0c4;
  background-image: linear-gradient(315deg, #fad0c4 0%, #f1a7f1 74%);
}

.container {
  /* width: 1000px;
  height: 1000px; */
  background-color: #a4508b;
  background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
  margin: 20px auto;
}

.calculator {
  width: 320px;
  height: 520px;
  background-color: #eaedef;
  /* background-image: linear-gradient(315deg, #95a5ff59 0%, #ececec 74%); */
  margin: 0 auto;
  top: 20px;
  position: relative;
}

.result{
    height: 120px;
}
#history{
    text-align: right;
    height: 20px;
    margin: 0 20px;
    padding-top: 20px;
    font-size: 15px;
    color: #919191;
}

#output{
    text-align: right;
    height: 60px;
    margin: 10px 20px;
    font-size: 30px;
}

#keyboard{
    height: 400px;
}
.operator, .number, .empty{
    width: 50px;
    height: 50px;
    margin: 15px;
    float: left;
    border-radius: 50%;
    border-width: 0;
    font-weight:bold ;
    font-size: 15px;
}

.number, .empty{
    background-color: #eaedef;
}
.number, .operator{
    cursor: pointer;
}

.operator:active, .number:active{
    font-size: 13px;
}

.operator:focus, .number:focus, .empty:focus{
    outline: 0;
}

button:nth-child(4){
    font-size: 20px;
    background-color: #20b2aa;
}
button:nth-child(8){
    font-size: 20px;
    background-color: #ffa500;
}
button:nth-child(12){
    font-size: 20px;
    background-color: #f08080;
}
button:nth-child(16){
    font-size: 20px;
    background-color: #7d93e0;
}
button:nth-child(20){
    font-size: 20px;
    background-color: #9477af;
}

